<div class="lay_footer qb_tac qb_fs_s mod_mb15">
    <div class="fn_quicklinks">
        <a class="mod_color_weak" href="{$indexurl}">商户首页</a>
        <span class="mod_color_comment">|</span>
        <a class="mod_color_weak" href="{$userurl}">会员中心</a>
        <span class="mod_color_comment">|</span>
        <a class="mod_color_weak" href="#"></a>
    </div>
    <div class="fn_copyright qb_bfc">
        <div class="mod_color_comment bfc_c">&copy;&nbsp; {$shopconfig.copyright}</div>
    </div>
</div>
