<div class="lay_header" style="height: 45px">
    <div class="lay_toptab mod_tab" id="lay_head">
        <a class="tab_item" href="{$categoryurl}"><i class="qb_icon icon_goback"></i></a>

        <a class="tab_item tab_item_logo" href="{$indexurl}">
            <img src="{$shopconfig.logo}" />
        </a>

        <a class="tab_item" href="{$userurl}"><i class="qb_icon icon_icenter"></i></a>
        <a class="tab_item" href="{$carturl}">

            <i class="qb_icon icon_cart"></i><i class="qb_icon icon_number_bubble qb_none"></i>

        </a>
    </div>

    <div class="lay_toptab mod_tab fixed qb_none" id="lay_head_fixed">
        <a class="tab_item" href="{$categoryurl}"><i class="qb_icon icon_goback"></i></a>

         <a class="tab_item tab_item_logo" href="{$indexurl}">
            <img src="{$shopconfig.logo}" style="width: 132px; margin-top: 8px;" />
        </a>

        <a class="tab_item" href="{$userurl}"><i class="qb_icon icon_icenter"></i></a>
        <a class="tab_item" href="{$carturl}"><i class="qb_icon icon_cart"></i>
            <i class="qb_icon icon_number_bubble qb_none"></i></a>
    </div>



</div>
