<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <title>{$category.title}</title>

    <meta charset="UTF-8">

    <meta name="viewport" content=" initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link href="/shop/templates/default/css/style.css" rel="stylesheet" />
    <link href="/shop/templates/default/css/templates.css" rel="stylesheet" />
    <script type="text/javascript">
        var basePath = "{$yuming}", baseParam = "";
    </script>

</head>
<body>

<!--_header-->
    <vt:template id="header" file="_header.html" charset="utf-8" />
<!--/_header-->	

    <div class="lay_page page_cat_1">
        <div class="lay_page_wrap">
            <div>
                <img class="ui_fluid" src="{$category.ico_url}" alt="{$category.title}" />

            </div>
            <div class="fn_titles">
                <h1>{$category.title}</h1>
            </div>
            <div class="fn_goods qb_clearfix">
                <ul id="show_container"></ul>
            </div>

     <!--_bottom-->
       <vt:template id="_bottom" file="_bottom.html" charset="utf-8" />
    <!--/_bottom-->	

        </div>
    </div>
      <input type="hidden" value="{$wid}" id="hidwid" name="hidwid">
      <input type="hidden" value="{$openid}" id="openid" name="openid">
    <div class="qb_quick_tip qb_none" id="bubble"></div>
    <script type="text/template" id="show_item_tpl">
        <li><a href="{$yuming}/shop/detail.aspx?wid={$wid}&pid={#itemCode#}&openid={$openid}">
            <img src="{#imgUrl#}" width="140" height="140" class="default" />
            <div class="goods_name qb_fs_s mod_color_weak">{#itemName#}</div>
            <div class="price qb_fs_s mod_color_strong">&yen;{#wgPrice#}</div>
            {#discountHtml#}</a></li>
    </script>
    <script src="/shop/templates/default/js/zepto.min.js"></script>
     <vt:set var="orderby" value="id asc" id="norderby" />
        <vt:set var="pagesize" value="116" id="npagesize" />
    <script type="text/javascript">
       
        var itemArray = {
            "1": [ <vt:foreach from="$productlist" item="product" index="i">
                  <vt:if var="#.i.IsLast" value="true">
                           {
                               "itemCode": "{$product.id}",
                               "itemName": "{$product.productName}",
                               "imgUrl": "{$product.productpic}",
                               "wgPrice": "{$product.salePrice}",
                               "discount": ""
                           }
                            <vt:else>
                  { "itemCode": "{$product.id}",  "itemName": "{$product.productName}",  "imgUrl": "{$product.productpic}", "wgPrice": "{$product.salePrice}", "discount": ""},
                           </vt:if>

                   </vt:foreach>

                 ]},
 	    lz = true;
        var topicType = 2;
    </script>

    <!--_share_js-->
       <vt:template id="share_js" file="_share_js.html" charset="utf-8" />
    <!--/_share_js-->	
    <script type="text/javascript">
        mobile.o2ocn.topic.init();
    </script>
</body>
</html>


