<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <title>订单详情</title>

    <meta charset="UTF-8">

    <meta name="viewport" content=" initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link href="/shop/templates/default/css/style.css" rel="stylesheet" />
    <link href="/shop/templates/default/css/templates.css" rel="stylesheet" />
    <script type="text/javascript">
        var basePath = "{$yuming}", baseParam = "";
    </script>


</head>
<body>

    <!--_header-->
    <vt:template id="header" file="_header.html" charset="utf-8" />
    <!--/_header-->
    <input type="hidden" value="{$wid}" id="hidwid" name="hidwid">
    <input type="hidden" value="{$openid}" id="openid" name="openid">

    <div class="lay_page" id="page_order_detail">
        <div class="lay_page_wrap">
            <h3 class="qb_fs_xl ui_gap ui_mt15">{$shopconfig.shopname}</h3>
            <div class="mod_cell ui_mt15 ui_gap">
                <dl class="mod_dl dl_tabel">
                    <dt class="ui_color_weak ui_align_right">订单状态：</dt>
                    <dd class="" id="deal-status">[{$statusName}] </dd>
                    <dt class="ui_color_weak ui_align_right">支付金额：</dt>
                    <dd class="ui_color_strong">{$order.real_amount}元
                    </dd>

                </dl>
                <div class="mod_color_weak qb_fs_s qb_none" id="suc-msg">请准备好相应金额，待验货后付款给快递员</div>
            </div>
            <div id="wuliu-info" class="mod_cell ui_mt15 ui_gap qb_none">
                <div class="mod_celltitle">物流信息</div>
                <div class="mod_item_list">
                    <div id="wuliu-info-first" evttag="viewLogis"></div>
                    <div class="qb_none" id="wuliu-info-fail">
                        <div class="mod_color_comment mod_mb15">抱歉，物流信息查询失败，可能物流公司未同步物流信息，请稍后重试！ </div>
                        <a href="javascript:void(0);" class="mod_btn btn_block" evttag="retryLogis">重试</a>
                    </div>
                </div>
            </div>

            <div id="Div1" class="mod_cell qb_gap qb_none">
                <div class="mod_celltitle">物流信息</div>
                <div class="ui_color_weak qb_mb10"></div>
            </div>
            <div class="mod_cell qb_gap">
                <div class="mod_celltitle">商品信息</div>
                <div class="ui_color_weak qb_mb10"></div>
                <ul class="mod_list">
                      <vt:foreach from="$order.order_product" item="g" index="j">
                           <li class="list_item qb_mb10 qb_bfc">
                        <a href="{$yuming}/shop/detail.aspx?wid={$wid}&pid={$g.id}&openid={$openid}">
                            <div class="bfc_f">
                                <img src="{$g.focusImgUrl}" width="60" height="60" alt="" />
                            </div>
                            <div class="bfc_c">
                                <p>{$g.productName}</p>
                                <p class="qb_fs_s mod_color_weak"></p>
                                <p class="qb_fs_s mod_color_weak">数量：{$g.stock} 单价：&yen;{$g.salePrice}元</p>
                            </div>
                        </a>
                    </li>
                      </vt:foreach> 

                  
                </ul>
            </div>
            <div class="mod_cell ui_mt15 ui_gap">
                <dl class="mod_dl dl_tabel">
                    <dt class="ui_color_weak ui_align_right">收货地址：</dt>
                    <dd class="">{$order.address}</dd>
                    <dt class="ui_color_weak ui_align_right">收件人：</dt>
                    <dd class="">{$order.accept_name}</dd>
                    <dt class="ui_color_weak ui_align_right">联系电话：</dt>
                    <dd class="">{$order.telphone}</dd>
                </dl>
            </div>
            <div class="mod_cell ui_mt15 ui_gap">
                <dl class="mod_dl dl_tabel">
                    <dt class="ui_color_weak ui_align_right">订单编号：</dt>
                    <dd class="">{$order.order_no}</dd>
                    <dt class="ui_color_weak ui_align_right">下单时间：</dt>
                    <dd class="">{$order.add_time format="yyyy-MM-dd HH:mm:ss"}</dd>
                    <dt class="ui_color_weak ui_align_right">支付方式：</dt>
                    <dd class="">{$paymentName}</dd>
                </dl>
            </div>
            <div class="mod_cell ui_mt15 ui_gap">
                <dl class="mod_dl dl_tabel">
                    <dt class="ui_color_weak ui_align_right">商品总价：</dt>
                    <dd class="ui_color_strong">￥{$order.real_amount}元</dd>
                    <dt class="ui_color_weak ui_align_right">符合优惠：</dt>
                    <dd class="ui_color_strong">-&yen;0.00元</dd>
                    <dt class="ui_color_weak ui_align_right">运费合计：</dt>
                    <dd class=""><span class="ui_color_strong">￥{$order.express_fee}元</span> <span class="ui_color_weak">{$expressName}</span></dd>
                    <dt class="ui_color_weak ui_align_right">总价：</dt>
                    <dd class="ui_color_strong">￥{$order.order_amount}元</dd>
                </dl>
            </div>
            <div id="operate_area"></div>
        </div>
    </div>
    <div class="lay_page page_tracert qb_none" id="page_tracert">
        <input type="hidden" id="deliver-id" value="" />
        <div class="lay_page_wrap">
            <div class="qb_gap qb_pt10 fn_status qb_clearfix" evttag="toDealDetail">
                <a href="#" class="btn_back qb_fl"><i class="qb_icon icon_back"></i></a>
                <div class="status">
                    物流公司：{$expressName}<br>
                    运单号：{$order.express_no}<br>
                    收货地址：{$order.address}
                </div>
            </div>
            <div class="fn_tracert qb_mb10">
                <div id="wuliu-detail" class="qb_gap"></div>
                <div class="qb_none" id="wuliu-detail-fail">
                    <div class="qb_gap">
                        <div class="mod_color_comment qb_mb10">抱歉，物流信息查询失败，可能物流公司未同步物流信息，请稍后重试！ </div>
                        <a href="javascript:void(0);" class="mod_btn btn_block" id="retryDetail">重试</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="qb_quick_tip qb_none" id="bubble"></div>
    <div class="mod_dialog qb_none" id="message-notice">
        <div class="dialog_mask"></div>
        <div class="dialog_main qb_br qb_tac">
            <div class="dialog_bd" id="notice-content"></div>
            <div class="dialog_ft qb_flex"><a href="javascript:void(0);" class="flex_box" id="notice-cancel">取消</a><a href="javascript:void(0);" class="flex_box" id="notice-sure">确定</a></div>
        </div>
    </div>



    <!--_bottom-->
    <vt:template id="_bottom" file="_bottom.html" charset="utf-8" />
    <!--/_bottom-->
    <script type="text/template" id="recv-tpl">
        <a href="javascript:void(0);" class="mod_btn btn_block qb_mr10 btn_strong flex_box" evttag="confirmRecv" id="to-confirm" data-url="/plus/action/receipt/ok">确认收货</a>
    </script>
    <script type="text/template" id="topay-tpl">
        <div class="mod_select select_block flex_box btn_strong">
            <select evttag="changePay" dc="86882">
                <option value="-1">去付款</option>

            </select>
        </div>
    </script>
    <script type="text/template" id="cancel-tpl">
        <a href="javascript:void(0);" class="mod_btn btn_block qb_mr10 flex_box" evttag="cancelDeal" id="cancel-deal" data-url="{$yuming}/shop/shopmgr.ashx?myact=order_canel">取消订单</a>
    </script>
    <script type="text/template" id="drawback-tpl">
        <div class="qb_gap">
            <div class="qb_tac qb_mb10" evttag="drawback" id="drawback"><a evttag="drawback" class="mod_color_weak" href="#nolink">申请退款</a></div>
        </div>
    </script>
    <script type="text/template" id="regoods-tpl">
        <div class="qb_gap">
            <div class="qb_tac qb_mb10" evttag="regoods" id="regoods"><a evttag="regoods" class="mod_color_weak" href="#nolink">申请退货</a></div>
        </div>
    </script>
    <script type="text/template" id="cancelgoods-tpl">
        <div class="qb_gap">
            <div class="qb_tac qb_mb10" evttag="cancelgoods" id="cancelgoods"><a class="mod_color_weak" href="#nolink">取消退货</a></div>
        </div>
    </script>
    <script type="text/template" id="marksend-tpl">
        <a href="#" class="mod_btn btn_block btn_strong flex_box">标记发货</a>
    </script>
    <script type="text/template" id="onback-tpl">
        <div class="qb_gap">
            <div class="qb_tac qb_mb10"><span class="mod_color_weak">{#text#}</span></div>
        </div>
    </script>
    <script type="text/template" id="wuliu-tpl">
        <div class="mod_bb">
            <div class="mod_color_weak">{#time#}</div>
            {#desc#}
        </div>
    </script>
    <script src="/shop/templates/default/js/zepto.min.js"></script>
    <script type="text/javascript">
        stockEmpty = "false", dc = "86882", dealStatus = 10, payType = 0;
        mobile.o2ocn.orderdetail.init();

    </script>

</body>
</html>
