html, body {
	color:#222;
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	margin:0;
	padding: 0;
	text-decoration: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
img {
	border:0;
}
ol, ul {
	list-style: none outside none;
	margin:0;
	padding: 0;
}
a {
	color:#000000;
	text-decoration: none;
}
h2 {
    font-size: 16px;
}
.left{ float:left}
.right{ float:right}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
input, textarea, select {
*font-size:100%;
}
.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
.copyright{padding:8px;text-align:center;font-size:14px;color:#666;}
.copyright a{color:#666;}

#listhome1{background-color:#F0EFEF;margin: 0 auto;
    max-width: 640px;
    min-width: 320px;overflow-x: hidden;height: 100%;
    width: 100%;}
	
/*popmenu*/
#popmenu{cursor:pointer; display:block; position:relative;  text-align: center; width: 200px; margin:0 auto}
#popmenu:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: -2px;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #9D9D9D transparent;
}

#overlay{position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;opacity:0;filter:alpha(opacity=0);display:none;z-index: 4;}

#win{position: fixed;top:55px;left:50%;
    width: 200px;margin:0 0 0 -100px;display:none;z-index: 5;}


.dropdown {
    /* Size and position */
    position: relative;
	display:block;
    margin: 0 auto;
    padding: 5px;

    /* Styles */
    background-color: rgba(47, 47, 47, 1);
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
	box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    outline: none;
	list-style: none outside none;

}

.dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 90px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: rgba(47, 47, 47, 0.9) transparent;    
}

.dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 88px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}
.dropdown li {
    background-color: rgba(58, 58, 58, 1);
    display: block;
    float: left;height: 37px;
    width: 50%;
}
.dropdown li span{
    border-color: #494949 #181818 #181818 #494949;
    border-left: 1px solid #494949;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
	line-height: 37px;
    display: block;
    font-size: 15px;
    height: 37px;
    text-align: center;
    text-shadow: 0 2px 2px #000000;
    width: 100%;
}
.dropdown li:hover {
    background-color: rgba(0, 0, 0, 0.9);
}


/*Listpage*/
.Listpage{
    position: relative;
    z-index: 2;
}
.fixed {
  /*position: fixed;*/
}
.top46{height:46px; padding:0; margin:0}
#ui-header{
  width: 100%;
  height: 46px;
  line-height:46px;
  z-index: 3;
  position: fixed;
left: 0;
top: 0;
right:0;
	}
#ui-header .fixed {
	display: block;
	margin: 0 auto;
    min-width: 320px;
	height: 45px;
	top: 0;
	border-bottom: 1px solid #D1D1D1;
	box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.15);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f9f9f9));
	background-image:-webkit-linear-gradient(#ffffff, #f9f9f9);
	background-image:-moz-linear-gradient(#ffffff, #f9f9f9);
	background-image:-ms-linear-gradient(#ffffff, #f9f9f9);
	background-image:-o-linear-gradient(#ffffff, #f9f9f9);
	background-image:linear-gradient(#ffffff, #f9f9f9);
	/*opacity: 0.95;*/
}
.ui-title{min-height: 46px; text-align: center; font-size: 16px; font-weight:normal; display: block; margin: 10px 70px 0; padding: 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important; display:none;text-indent: -10px;}
.ui-btn-left { position:absolute; top:0px; left:0px; background:url(../img/menu.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
.ui-btn-left_pre { position:absolute; top:0px; left:0px; background:url(../img/pre.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
.ui-btn-right { position:absolute; top:0px; right:0px; background:url(../img/Refresh.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px;margin:0; padding:0; background-size:28px auto;}
.ui-btn-right_menu { position:absolute; top:0px; right:0px; background:url(../img/menu.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
.ui-btn-right_home { position:absolute; top:0px; right:0px; background:url(../img/home.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}


.focus {
	margin:0 auto 0px;
	position:relative;
	overflow:hidden
}
.focus img {
	display: block;
    margin: 0 auto;
    width: 100%;
}
.focus li {
	min-height: 32px;
    min-width: 320px;
}
.focus li a {
	color:#FFF;
	text-decoration: none;
}
.focus li span {
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	left:0;
	top:0;
}
.focus li h2 {
	 bottom: 0;
    color: #FFFFFF;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
	
    margin: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.focus li .opacity {
	height:32px;
	background:#000;
	opacity:0.7;
	bottom: 0;
    display: block;
    font-weight: normal;
    height: 32px;
    position: absolute;
    width: 100%;
}
.focus .focusTit {
	width:100%;
	height:10px;
	text-align:center;
	position:absolute;
	left:0;
	bottom:8px;
}
.focus .focusTit span {
	width:5px;
	height:5px;
	background:#858585;
	border-radius: 10px;
	display:inline-block;
	margin:0 5px;
}
.focus .focusTit span.on {
	background:#249bff;
}
#todayList {
	display: block; margin: 0 auto;
}
.todayList li {
	display: block;
	color: #222222;
	border-bottom:1px solid #DDDDDD;
	font-weight: bold;
	/*text-shadow: 0 1px 0 #FFFFFF;*/
	text-decoration: none;
	background:#F9F9F9;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	position: relative;
	/*padding:10px 8px;*/overflow:hidden;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 1) inset;
	-moz-box-shadow:0 1px 0 0 rgba(255, 255, 255, 1) inset;
	-webkit-box-shadow:0 1px 0 0 rgba(255, 255, 255, 1) inset;
}
.todayList li a{
	padding:10px 15px 0px 3px; display: block;
}
.todayList li .img {
	width:75px;height:42px;float:left;margin:0 10px 0 0; display:inline;overflow:hidden;border-radius: 3px;
}
.todayList li img {
	width:75px;float:left;
}
.todayList li:hover {
	background-color:#eeeeee;
	font-weight:bold;
	cursor:pointer;
	text-decoration:none;
}
.todayList li:active {
	background-color:#eeeeee;
	font-weight:bold;
	cursor:pointer;
	text-decoration:none;
}
.todayList li h2 {
	font-size: 16px;
	color:#2f2f2f;
	font-weight:normal;
	height:20px;font-weight:normal;line-height:16px;padding:0;
max-width:100%;text-overflow:ellipsis;white-space:nowrap !important;white-space:normal;overflow:hidden;
}
.todayList li p {
	display: block;
	font-size: 12px;
	color:#9C9C9C;
	line-height: 16px;
	font-weight: normal;
	margin-top: 3px;
	overflow: hidden;
	text-overflow: ellipsis;/*white-space: nowrap;*/
	padding-right:2px;
}
.todayList li p.onlyheight {
	/*height:16px; margin-bottom:5px*/
}
.todayList li .commentNum {
    color: #BFBFBF;
    font-size: 0.75em;
    padding-right: 5px;
    text-align: right;
	font-weight:normal;
}
/*pages*/
#Page_wrapper .c-pnav-con {
	text-align:center;
	font-size:18px;
}
#Page_wrapper .c-pnav-con .c-p-sec {
	display:inline-block;
	margin:20px auto;
}
#Page_wrapper .c-pnav-con .c-p-sec div {
	display:inline-block;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre {
	width:88px;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre a {
	display:inline-block;
	width:70px;
	height:30px;
	line-height:30px;
	background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8));
	background-image:-webkit-linear-gradient(#fefefe, #e8e8e8);
	background-image:-moz-linear-gradient(#fefefe, #e8e8e8);
	background-image:-ms-linear-gradient(#fefefe, #e8e8e8);
	background-image:-o-linear-gradient(#fefefe, #e8e8e8);
	background-image:linear-gradient(#fefefe, #e8e8e8);
	border:1px #D5D5D5 solid;
	overflow:hidden;
	border-radius:2px;
	-webkit-border-radius:2px;
	border-left:0 #d5d5d5 solid;
	border-right:1px #d5d5d5 solid;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre .c-p-p {
	display:inline-block;
	width:17px;
	height:30px;
	position:relative;
	overflow:hidden;
	vertical-align:top;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre .c-p-p em {
	display:inline;
	-webkit-transform:rotate(45deg);
	background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8));
	background-image:-webkit-linear-gradient(#fefefe, #e8e8e8);
	background-image:-moz-linear-gradient(#fefefe, #e8e8e8);
	background-image:-ms-linear-gradient(#fefefe, #e8e8e8);
	background-image:-o-linear-gradient(#fefefe, #e8e8e8);
	background-image:linear-gradient(#fefefe, #e8e8e8);
	position:absolute;
	top:4px;
	left:6px;
	width:21px;
	height:21px;
	border:1px solid #ddd;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next {
	width:88px;
	margin-left:5px;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next a {
	display:inline-block;
	width:70px;
	height:30px;
	line-height:30px;
	background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8));
	background-image:-webkit-linear-gradient(#fefefe, #e8e8e8);
	background-image:-moz-linear-gradient(#fefefe, #e8e8e8);
	background-image:-ms-linear-gradient(#fefefe, #e8e8e8);
	background-image:-o-linear-gradient(#fefefe, #e8e8e8);
	background-image:linear-gradient(#fefefe, #e8e8e8);
	border:1px #D5D5D5 solid;
	overflow:hidden;
	border-radius:2px;
	-webkit-border-radius:2px;
	border-left:1px #d5d5d5 solid;
	border-right:0 #d5d5d5 solid;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next .c-p-p {
	display:inline-block;
	width:17px;
	height:30px;
	position:relative;
	overflow:hidden;
	vertical-align:top;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next .c-p-p em {
	display:inline;
	-webkit-transform:rotate(45deg);
	background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8));
	background-image:-webkit-linear-gradient(#fefefe, #e8e8e8);
	background-image:-moz-linear-gradient(#fefefe, #e8e8e8);
	background-image:-ms-linear-gradient(#fefefe, #e8e8e8);
	background-image:-o-linear-gradient(#fefefe, #e8e8e8);
	background-image:linear-gradient(#fefefe, #e8e8e8);
	position:absolute;
	top:4px;
	left:-12px;
	width:21px;
	height:21px;
	border:1px solid #ddd;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur {
	position:relative;
	height:30px;
	vertical-align:baseline;
	text-align:center;
	margin-left:5px;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-arrow {
	display:inline-block;
	width:88px;
	line-height:30px;
	border:1px solid #ddd;
	background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8));
	background-image:-webkit-linear-gradient(#fefefe, #e8e8e8);
	background-image:-moz-linear-gradient(#fefefe, #e8e8e8);
	background-image:-ms-linear-gradient(#fefefe, #e8e8e8);
	background-image:-o-linear-gradient(#fefefe, #e8e8e8);
	background-image:linear-gradient(#fefefe, #e8e8e8);
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-arrow span:first-child {
	margin-right:5px;
	width:50px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-down span:last-child {
	display:inline-block;
	font-size:0;
	border-top:3px solid #666;
	border-left:3px solid #666;
	width:6px;
	height:6px;
	background-color:transparent;
	-webkit-transform:rotate(225deg);
	margin-bottom:3px;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-up span:last-child {
	display:inline-block;
	font-size:0;
	border-top:3px solid #666;
	border-left:3px solid #666;
	width:6px;
	height:6px;
	background-color:transparent;
	-webkit-transform:rotate(45deg);
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-grey {
	display:inline-block;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-grey a {
	color:#999;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-select {
	position:absolute;
	top:0;
	left:0;
	height:30px;
	width:90px;
	opacity:0;
}