@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0
}
body {
	background: #fff url(../images//reg/1tbguser.png) top repeat-x;
	color: #333;
	font: 12px/1.5 Tahoma, Helvetica, Arial, 'SimSun', sans-serif
}
button, input, select, textarea {
	vertical-align: middle
}
html {
	background: #fff;
	overflow-y: scroll
}
ol, ul {
	list-style: none
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%
}
fieldset, img {
	border: 0;
	vertical-align: top
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
address, caption, cite, code, dfn, em, th, var {
	font-weight: 400;
	font-style: normal
}
a {
	color: #333;
	cursor: pointer
}
a, a:hover {
	text-decoration: none
}
a:hover {
	color: #0069bd
}
.quc-clearfix, .quc-clearfix:after {
	clear: both
}
body {
	background: url(../images/reg/2quc_index_bg.jpg) no-repeat 50% 0
}
.bodybig {
	background: url(../images/reg/3quc_index_bgbig.jpg) no-repeat 50% 0
}
.info {
	color: #666666;
	float: right
}
.reg-wrapper {
	background: url(../images//reg/4bdbg.png) repeat-x;
	height: 394px;
	padding-top: 14px
}
.reg-wrapper-quick {
	background: url(../images//reg/5bdbgquick.png) repeat-x;
	height: 450px;
	padding-top: 10px
}
.reg-wrapper11 {
	background: url(../images//reg/6bdbg11.png) repeat-x;
	height: 454px;
	padding-top: 14px
}
.reg-wrapper1 {
	background: url(../images//reg/7bdbg1.png) repeat-x;
	_background: url(../images//reg/8bdbg3.png) no-repeat;
	height: 750px;
	padding-top: 14px
}
.reg-wrapper2 {
	background: url(../images/reg/9bdbg2.png) repeat-x;
	_background: url(../images/reg/10bdbg4.png) no-repeat;
	height: 850px;
	padding-top: 14px
}
.info span {
	display: inline-block;
	text-align: center
}
.info span a {
	color: #666666;
	font-size: 16px
}
.quc-clearfix:after {
	content: " ";
	display: block;
	height: 0;
	visibility: hidden
}
.info .split {
	padding: 0 17px;
	width: 1px
}
.info .registerNew {
	background: url(../images//reg/11registerNew.png) no-repeat 86px 1px;
	display: inline-block;
	padding-right: 30px;
	width: 90px
}
.info .loginAccount {
	background: url(../images//reg/11registerNew.png) no-repeat 100px 1px;
	display: inline-block;
	padding-right: 30px;
	width: 100px
}
.info span a:hover {
	color: #46a115
}
#doc {
	font: 14px "Microsoft YaHei";
	margin: 0 auto;
	position: relative;
	width: 644px
}
#hd {
	background: transparent;
	float: left;
	height: 61px;
	margin-bottom: 23px;
	width: 400px
}
#ft {
	color: #666666;
	font-size: 12px;
	text-align: center
}
#hd .logo {
	float: left;
	height: 61px;
	margin-left: 13px;
	width: 228px
}
#bd .content {
	height: 369px;
	padding: 10px 25px 0;
	width: 594px
}
#bd .otherMessage {
	border-top: 1px #E5E5E5 solid;
	color: #767676;
	display: none;
	font-size: 14px;
	height: 60px;
	line-height: 53px;
	text-align: center
}
#hd .logo a {
	height: 61px;
	width: 228px
}
#hd .logo a, #bd .otherMessage div {
	display: inline-block
}
#bd .content .third-login {
	border-top: 1px solid #f4f4f4;
	font-size: 14px;
	height: 84px;
	padding-top: 20px;
	padding-left: 75px
}
#bd .reg-content {
	height: 378px;
	padding: 35px 138px 0
}
#bd .reg-aside {
	float: right;
	padding: 40px 10px;
	text-align: center;
	width: 152px;
	_width: 151px
}
#loginWrap input:-moz-placeholder {
color:gray
}
.quc-clearfix, .quc-clearfix:after {
	clear: both
}
.mod-qiuser-pop {
	color: #999;
	margin: 0 auto;
	position: relative;
	zoom: 1
}
.ipbox {
	width: 374px
}
.phraseip {
	width: 214px
}
.phraseip, .phraseip1 {
	float: left;
	margin-bottom: 10px
}
.phraseip1 {
	width: 213px;
	_width: 210px
}
.phraseLi {
	display: none;
	margin-top: 30px
}
.r1, .r2 {
	background: #c3c8c8;
	border-left: 1px solid #d4d9da;
	border-right: 1px solid #d4d9da;
	display: block;
	height: 1px;
	margin: 0 3px;
	overflow: hidden
}
.r2 {
	background: #eee;
	margin: 0 2px
}
.r3, .r4 {
	background: #d4d5d3;
	border-left: 1px solid #c3c8c8;
	border-right: 1px solid #c3c8c8;
	display: block;
	height: 1px;
	margin: 0 3px;
	overflow: hidden
}
.r3 {
	background: #fbfbfb;
	margin: 0 2px
}
.r5 {
	background: #fff;
	border-left: 1px solid #c3c8c8;
	border-right: 1px solid #c3c8c8;
	display: block;
	height: 1px;
	margin: 0 1px;
	overflow: hidden
}
.con {
	background: #fff;
	border-left: 1px solid #ced1d0;
	border-right: 1px solid #ced1d0;
	font: 16px "Microsoft YaHei"
}
.checkbox {
	background: url(../images//reg/13iweimob_email.png) no-repeat -247px -817px;
	display: inline-block;
	height: 15px;
	left: -2px;
	margin: -3px 3px;
	position: absolute;
	top: 20px;
	width: 15px
}
.checked {
	background: url(../images//reg/13iweimob_email.png) no-repeat -272px -817px
}
.isAgreeRules {
	margin-top: -3px
}
.quick-login-wrap {
	display: none
}
.mod-qiuser-pop dt {
	color: #333;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	margin-left: 20px
}
.mod-qiuser-pop label {
	float: left;
	height: 41px;
	line-height: 50px;
	padding: 0 5px 0 10px;
}
.mod-qiuser-pop label, .mod-qiuser-pop label.wid2 {
	width: 48px
}
.quc-clearfix:after {
	content: " ";
	display: block;
	height: 0;
	visibility: hidden
}
.con .botborder {
	border-bottom: 1px solid #e5e5e5
}
.con .topBorder {
	border-top: 1px solid #e5e5e5
}
.mod-qiuser-pop .login-wrap {
	float: left;
	font: 16px "Microsoft YaHei";
	margin-left: 76px;
	_margin-left: 46px;
	width: 374px
}
.mod-qiuser-pop .btn-register {
	background: url(../images//reg/13iweimob_email.png) no-repeat -487px -10px
}
.mod-qiuser-pop .btn-register, .mod-qiuser-pop .btn-register:hover {
	border: 0;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	margin-top: 10px;
	outline: medium none;
	width: 372px
}
.mod-qiuser-pop .btn-register:hover{background:url(images//reg/13iweimob_email.png) no-repeat -487px -85px}
.mod-qiuser-pop .btn-login {
	background: url(images//reg/13iweimob_email.png) no-repeat -10px -10px;
	_background: url(images//reg/13iweimob_email.png) no-repeat -10px -10px;
	border: 0;
	cursor: pointer;
	height: 50px;
	outline: medium none;
	width: 371px
}
.mod-qiuser-pop .btn-login:hover{background:url(images//reg/13iweimob_email.png) no-repeat -10px -76px;_background:url(images//reg/13iweimob_email.png) no-repeat -10px -76px;border:0;cursor:pointer;height:51px;outline:medium none;width:371px}
.mod-qiuser-pop .btn-loginyz {
	background: url(images//reg/13iweimob_email.png) no-repeat -482px -197px;
	_background: url(images//reg/13iweimob_email.png) no-repeat -482px -197px;
	border: 0;
	cursor: pointer;
	height: 55px;
	outline: medium none;
	width: 275px
}
.mod-qiuser-pop .btn-loginyz:hover{background:url(../images//reg/13iweimob_email.png) no-repeat -482px -267px;_background:url(images//reg/13iweimob_email.png) no-repeat -482px -267px;border:0;cursor:pointer;height:55px;outline:medium none;width:275px}
.mod-qiuser-pop .login-wrap dd {
	height: 50px;
	position: relative
}
.mod-qiuser-pop label.wid3 {
	width: 80px
}
.mod-qiuser-pop label.wid4 {
	width: 67px
}
.mod-qiuser-pop .rem label {
	left: 0;
	position: absolute
}
.mod-qiuser-pop .find label {
	cursor: pointer;
	font-size: 12px;
	margin: 0 200px 0 10px;
	text-align: left;
	width: 53px
}
.mod-qiuser-pop .find a {
	color: #54c11a;
	left: 116px;
	margin-left: -69px;
	outline: medium none;
	position: relative;
	top: 12px;
*zoom:1
}
.msgtipsright span.text-tips {
	background: #fff;
	border-top: 1px solid #88cbe6;
	border-bottom: 1px solid #88cbe6;
	color: #88cbe6;
	display: inline-block;
	font-size: 13px;
	white-space: nowrap
}
.mod-qiuser-pop .ipt {
	background: 0;
	border: medium none;
	font: 14px/25px arial, simsun;
	height: 25px;
	outline: 0;
	overflow: hidden;
	padding: 14px 3px 10px;
	_padding-top: 8px;
	width: 246px
}
.mod-qiuser-pop .ipt1 {
	background: 0;
	border: medium none;
	color: #999;
	font: 16px/25px arial, simsun;
	height: 25px;
	_height: 23px;
	outline: medium none;
	padding: 10px 0;
	width: 133px
}
.input-bg .placeholder,.verify-code .placeholder,.login-item .placeholder{color:gray;font:14px arial,simsun;left:-6px;overflow:hidden;position:absolute;top:6px;*top:19px; }
.placeholder{text-align:left;}