 lbody {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 22px;
	background: #F4F4F4;
	font-family: "Microsoft YaHei",Arial,"SimSun";
	-webkit-text-size-adjust: none;
}
.maroon {
	color: #D20000;
	padding-left: 2px;
	font-family: "SimSun";
}
.header {
	height: 20px;
}
.mainbody {
	width: 850px;
	margin: 0 auto;
	padding: 30px 20px 40px;
}
.mainbody .top {
	margin-bottom: 10px;
	padding-bottom: 12px;
}
.overlay {
	background-color: black;
	opacity: .8;
	filter: alpha(opacity=80);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;
	overflow: hidden;
	background-position: initial initial;
	background-repeat: initial initial;
}
#reg-select {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1001;
}
.overlay-cont {
	width: 850px;
	margin: 150px auto 0;
	position: relative;
}
.reg-type {
	position: absolute;
	width: 300px;
	height: 260px;
	background: url(../images/reg_1/1reg_sel.png) no-repeat 0 0;
	text-align: center;
}
#reg-select #type1 {
	top: 0;
	left: 0;
}
#reg-select #type2 {
	top: 0;
	right: 0;
}
#reg-select .sep {
	top: 0;
	left: 50%;
	background-color: #e3e3e3;
	width: 1px;
	height: 260px;
	border: 1px solid #828282;
	position: absolute;
}
.reg-type h1 {
	font-size: 26px;
	color: #4d4d4d;
	line-height: 50px;
	margin-top: 20px;
}
.reg-type .sel-btn {
	width: 176px;
	height: 49px;
	background: url(../images/reg_1/2sel_btn.png) no-repeat 0 0;
	line-height: 45px;
	color: #FFF;
	font-size: 18px;
	text-align: center;
	display: block;
	margin: 0 auto;
	text-decoration: none;
}
.reg-type p {
	margin-top: 40px;
	padding: 0 30px;
	color: #8b8b8b;
	font-size: 13px;
	font-weight: bold;
}
.fn-clear: after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.fn-clear {
	zoom: 1;
}
.form-horizontal {
	margin-top: 30px;
}
.control-group .btn-register {
	background: url(../images/reg/13iweimob_email.png) no-repeat -487px -10px;
	border: 0;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	margin-top: 10px;
	outline: medium none;
	width: 372px;
}
.control-group .btn-register: hover {
	background: url(../images/reg/13iweimob_email.png) no-repeat -487px -85px
}
.controls input {
	height: 35px;
}
.control-group label {
	line-height: 35px;
}
.control-group .controls select {
	height: 45px;
	width: 180px;
}