<?xml version="1.0"?>
<orderconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <anonymous>1</anonymous>
  <confirmmsg>0</confirmmsg>
  <confirmcallindex>order_confirm</confirmcallindex>
  <expressmsg>1</expressmsg>
  <expresscallindex>order_express</expresscallindex>
  <completemsg>1</completemsg>
  <completecallindex>order_complete</completecallindex>
  <kuaidiapi>http://api.kuaidi100.com/api</kuaidiapi>
  <kuaidikey>1f7aa866bc06cdd4</kuaidikey>
  <kuaidishow>3</kuaidishow>
  <kuaidimuti>1</kuaidimuti>
  <kuaidiorder>desc</kuaidiorder>
</orderconfig>